@{
    ViewBag.Title = "Ten Friendly";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <h2>Enter a number below to see all the Ten-Friendly substrings.</h2>
            <input type="text" id="friendly-input" />
            <button class="btn-default btn-group-lg" type="submit" id="friendly-go-btn">Go!</button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <div id="ten-friendly-list" style="display: none"></div>
        </div>
    </div>
</body>
</html>


<script src="~/Scripts/libraries/jquery-3.1.0.min.js"></script>
<script src="~/Scripts/tenfriendly.control.form.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/DataServices/tenfriendly.dataservice.form.js"></script>