@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A 10-substring of a number is a substring of its digits that sum to 10. <br />
    For example, the 10-substrings of the number 3523014 are:
    <br /><br />
3523014 3523014 3523014 3523014
    <br /><br />
A number is called 10-substring-friendly if every one of its digits belongs to a 10-substring. <br />
    For example, 3523014 is 10-substring-friendly, but 28546 is not..</p>
