@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Ten-Friendly</h1>
    <p class="lead">
        Ten-Friendly lets you test a string of characters to see if the string is ten-friendly. 
        <br />What does that mean?
        <br />
        <ol>
            <li>
                All characters must be used
            </li>
            <li>
                Various combinations of those characters must equal 10
            </li>
            <li>
                An example: <strong>3523014</strong> is 10-substring-friendly, but <strong>28546</strong> is not
            </li>
        </ol>
    </p>
</div>

<div class="row">
    <div class="col-md-6 col-lg-offset-3">
        <h2>Enter a number below to see all the Ten-Friendly substrings.</h2>
        <input type="text" />
        <button class="btn-default btn-group-lg" type="submit" id="friendly-test-btn">Go!</button>
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-lg-offset-3">
        <div id="ten-friendly-list" style="display: none"></div>
    </div>
</div>

<script src="~/Scripts/tenfriendly.control.form.js"></script>