@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Ten-Friendly</h1>
    <p class="lead">
        Ten-Friendly lets you test a string of characters to see if the string is ten-friendly. 
        <br />What does that mean?
        <br />
        <ol>
            <li>
                All characters must be used
            </li>
            <li>
                Various combinations of those characters must equal 10
            </li>
            <li>
                An example: <strong>3523014</strong> is 10-substring-friendly, but <strong>28546</strong> is not
            </li>
        </ol>
    </p>
</div>



