@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <title>QUnit Test Results</title>
    <link href="~/Content/qunit.css" rel="stylesheet" />
</head>

<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    <script src="~/Scripts/qunit.js"></script>
    <script src="~/Scripts/Spec/tenfriendly.spec.js"></script>
    <script src="~/Scripts/tenfriendly.control.form.js"></script>
</body>
</html>
